#meal-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: auto;
    padding: 50px;

}
#meal-results img {
    width: 200px;
    border-radius: 5px;
} 
.food-list {
 margin: 10px;
}
.food-list h3 { 
    font-size: 20px;
    width: 200px;
    text-align: center;
    padding: 5px 20px;
} 
.food-list a {
 color: black; 
text-decoration: none;  
}  
.food-ingredients {
    width: 50%;
    margin: auto;
    background-color: ghostwhite;
    padding: 30px 10px 30px 90px;
}
.food-ingredients img {
    width: 250px;
}